<!DOCTYPE html>
<html lang="en">
<head>
    <%include ./partials/head.ejs%>
</head>

<body>
<!-- Navigation -->
<%include main/navigation.ejs%>


<%include forms/bulogin_form.ejs%>


<footer class="custom-footer" >
    <div class="container">
        <%include partials/footer.ejs%>
    </div>
</footer>
<%include partials/bootstrap_scripts.ejs%>
</body>
</html>