<!DOCTYPE html>
<html lang="en">
<head>
<%include ./partials/head.ejs%>
</head>

<body>

    <!-- Navigation -->
    <% include main/navigation.ejs%>

    <!-- Main Body of the app -->
    <% include main/body.ejs%>


    <%include partials/bootstrap_scripts.ejs%>
</body>
</html>


