<!DOCTYPE html>
<html lang="en">
<head>
<%include ./partials/head.ejs%>
</head>

<body>
    <h1 class="text-uppercase"><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <footer>
        <%include ./partials/footer.ejs%>
    </footer>

    <%include ./partials/bootstrap_scripts.ejs%>
</body>
</html>


