<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>

<body>
    <p><%=name%></p>

<footer>
    <%include ./partials/footer.ejs%>
</footer>

<%include ./partials/bootstrap_scripts.ejs%>
</body>
</html>
