<!DOCTYPE html>
<html lang="en">
<head>
    <%include ./partials/head.ejs%>
</head>

<body>

<%include main/navigation.ejs%>
<%include forms/register_form.ejs%>

<%include partials/bootstrap_scripts.ejs%>
</body>
</html>