<!--
    Use file as a starter files if you need to create
    another view file.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <%include ./partials/head.ejs%>
</head>

<body>


<footer>
    <%include ./partials/footer.ejs%>
</footer>

<%include ./partials/bootstrap_scripts.ejs%>
</body>
</html>
