<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container custom-search">
        <h1>Business Directory</h1>
        <form action="/results" method="get" class="form-group-lg" id="srch-form">
        <div class="form-group">
            <input type="text"  name="bname" id="bname" placeholder="Enter your business name"> |
            <label for="state">City</label>
            <input type="text"  name="city" id="city" placeholder="City">
            <label for="state">State</label>
            <select name="state">
                <option value="" selected>...</option>
                <option value="ca">CA</option>
                <option value="il">IL</option>
                <option value="fl">FL</option>
                <option value="nh">NH</option>
                <option value="nc">NC</option>
                <option value="tx">TX</option>
            </select>
            <label for="zipcode">Or Zipcode</label>
            <input type="text" name="zipcode" placeholder="zipcode" id="zipcode">
            <input type="submit" name="submit" value="Search">
        </div>


        </form>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-12">
            <h1>Search By </h1>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Business name</h2>
            <p>if you want to search for an specific business please enter the name of the busines along
            with the city and state or zipcode</p>

        </div>
        <div class="col-md-4">
            <h2>City and State</h2>
            <p>Also you can search all the business in your city just by typing the city you want</p>

        </div>
        <div class="col-md-4">
            <h2>Zipcode</h2>
            <p>or just type your zipcode for all the business in your area.</p>

        </div>
    </div>





</div><!-- Main Container -->
<footer class="custom-footer" >
    <div class="container">
        <%include ../partials/footer.ejs%>
    </div>
</footer>