<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><%= project %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if (info===""){%>
                    <li><a class="btn btn-primary active" href="/login">Log In</a></li>
                    <li><a class="btn btn-primary active" href="/register">Register</a></li>
                <%}else{%>
                    <li><h4><%= info%></h4></li>
                    <li><a class="btn btn-primary active" href="/logout">Logout</a></li>
                <%}%>
            </ul>

        </div><!--/.navbar-collapse -->
    </div>
</nav>