<div class="container" style="margin-top:90px">
    <h1>Registration</h1>
    <h3>Instructions</h3>
    <p>If you can to register a new business please click new business. if you are not a
        business owner please click new user.
    </p>
    <ul>
        <li><a href="register/user_regis">New User</a></li>
        <li><a href="register/biz_regis">New Business</a> </li>
    </ul>
</div>