<div class="container custom-search">
    <h1>Business Directory</h1>
    <h4>Search by</h4>
    <ul id="howTo">
        <li>1. Business name + city and state </li>
        <li>2. City and State </li>
        <li>3. Zipcode</li>
    </ul>
    <form action="/results" method="get" class="form-group-lg" id="srch-form">
        <div class="form-group">
            <input type="text"  name="bname" id="bname" placeholder="Enter your business name"> |
            <label for="state">City</label>
            <input type="text"  name="city" id="city" placeholder="City">
            <label for="state">State</label>
            <select name="state">
                <option value="" selected>...</option>
                <option value="ca">CA</option>
                <option value="il">IL</option>
                <option value="fl">FL</option>
                <option value="nh">NH</option>
                <option value="nc">NC</option>
                <option value="tx">TX</option>
            </select>
            <label for="zipcode">Or Zipcode</label>
            <input type="text" name="zipcode" placeholder="zipcode" id="zipcode">
            <input type="submit" name="submit" value="Search">
        </div>


    </form>
</div>